<launch>
  <arg name="rate" default="50.0" />
  <arg name="connect_red" default="0" />
  <arg name="connect_green" default="0" />
  <arg name="connect_blue" default="0" />
  <arg name="cmd_vel_timeout" default="0.6" />
  <arg name="diagnostics_update_rate" default="1.0" />
  <arg name="reset_odom" default="true" />
<!--  <arg name="tf_prefix" default="" />

  <param name="robot_description" textfile='$(find sphero_description)/urdf/sphero.urdf' />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg tf_prefix)" />
  </node> 
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="50.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node> -->
  <node pkg="sphero_node" type="sphero.py" name="sphero_node" output="screen">
    <param name="rate" value="$(arg rate)"/>
    <param name="connect_red" value="$(arg connect_red)"/>
    <param name="connect_green" value="$(arg connect_green)"/>
    <param name="connect_blue" value="$(arg connect_blue)"/>
    <param name="cmd_vel_timeout" value="$(arg cmd_vel_timeout)"/>
    <param name="diag_update_rate" value="$(arg diagnostics_update_rate)"/>
    <param name="reset_odom" value="$(arg reset_odom)"/>
  </node>
</launch>
